/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo futurista */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #7c90c7, #302b63, #24243e);
  color: #fff;
  min-height: 100vh;
  text-align: center;
  padding: 40px 20px;
}

/* Título */
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* Subtítulo */
header p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  opacity: 0.9;
}

/* Cards */
.phones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto 40px;
  
}

.phones img {
  border-radius: 4px;
  width: 100%; /*nuevo*/

}

p {
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

.card {  
  background: rgba(255, 255, 255, 0.08);
  padding: 25px;
  border-radius: 18px;
  backdrop-filter: blur(6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.15);
}

.card h2 {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

/* Botón */

#buttonCompra {    /* BOTONES DE COMPRA */
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40%;
  background-color: rgb(139, 172, 201);
}

#buttonCompra:hover {
  color: aliceblue;
  background: #cf405f;
  transform: translateY(-3px);
}

h3 { /* TEXTO DEL BOTON DE COMPRA */
  font-family: Arial, Helvetica, sans-serif;
}

a {  /* ELIMINA SUBRAYADO DE LINKS */
  text-decoration: none;
}

button {   /*BOTON DE ABAJO DEL TODO*/
  background: #00d4ff;
  color: #000;
  font-size: 1.1rem;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;

}

button:hover {
  background: #00aacc;
  transform: translateY(-3px);
}

button:active {
  transform: translateY(0);
}